{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cadastro/styles.css' %}">
    <title>Cadastro</title>
</head>

<body>

    <body>
        {% include 'parciais/_mensagem.html' %}
        <div id="conteiner">
            <form id="formCadastro" action="" method="POST">
                {% csrf_token %}
                <h1>Cadastro</h1>
                <input type="text" name="nome" placeholder="Nome:" required>
                <input type="text" name="sobrenome" placeholder="Sobrenome:" required>
                <input type="text" name="usuario" placeholder="Usuario:" required>
                <input type="email" name="email" placeholder="Email:">
                <input type="password" name="senha" placeholder="Senha:" required>
                <input type="password" name="senha2" placeholder="Senha novamente:" required>
                <button type="submit" id="btnCadastrar">
                    Criar
                </button>
            </form>
        </div>

    </body>

</html>