{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home/styles.css' %}">
 {% endblock %}
{% block main %} 
    {% block title %} Home | {{ user.username.title }}{% endblock %}
<main>
    <div class="conteudo">
        <h1 class="titulo-texto">Titulo</h1>
        <div class="img-texto">
            <img src="https://source.unsplash.com/800x600/?dog" alt="">
        </div>
        <div class="decricao">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam error. Distinctio voluptates dicta, exercitationem impedit hic quo itaque nihil consectetur ex quidem eos sunt, voluptate autem debitis quibusdam reiciendis. Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Sequi, error? Quia sunt deserunt voluptatum odio iusto dolorem quo, odit neque. Cupiditate qui mollitia optio error accusamus atque ad voluptas aliquid? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Impedit quis delectus distinctio. Saepe earum magni, sit cum aliquid nam provident rerum optio iusto eaque aut ullam beatae ipsam quis excepturi. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Sapiente obcaecati ex, asperiores atque ipsam facilis sed voluptas nesciunt explicabo laboriosam ipsa repellat dolores ad consectetur ea. Temporibus ex praesentium reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Amet repellendus architecto laudantium modi culpa suscipit necessitatibus eligendi. Voluptas, nesciunt! Exercitationem quae explicabo tempora nihil sunt odio odit natus vero nam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Numquam saepe eum a ratione reprehenderit cupiditate est provident rem? Quis perferendis animi modi rem assumenda fugiat atque possimus harum in quisquam.</p>
        </div>
        <div class="botao">
            <a href="">
                <i class="fa-solid fa-plus"></i>
                <h3>Informacões</h3>
            </a>
        </div>
    </div>
    <div class="conteudo">
        <h1 class="titulo-texto">Titulo</h1>
        <div class="img-texto">
            <img src="https://source.unsplash.com/800x600/?dog" alt="">
        </div>
        <div class="decricao">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam error. Distinctio voluptates dicta, exercitationem impedit hic quo itaque nihil consectetur ex quidem eos sunt, voluptate autem debitis quibusdam reiciendis. Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Sequi, error? Quia sunt deserunt voluptatum odio iusto dolorem quo, odit neque. Cupiditate qui mollitia optio error accusamus atque ad voluptas aliquid? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Impedit quis delectus distinctio. Saepe earum magni, sit cum aliquid nam provident rerum optio iusto eaque aut ullam beatae ipsam quis excepturi. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Sapiente obcaecati ex, asperiores atque ipsam facilis sed voluptas nesciunt explicabo laboriosam ipsa repellat dolores ad consectetur ea. Temporibus ex praesentium reprehenderit? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Amet repellendus architecto laudantium modi culpa suscipit necessitatibus eligendi. Voluptas, nesciunt! Exercitationem quae explicabo tempora nihil sunt odio odit natus vero nam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Numquam saepe eum a ratione reprehenderit cupiditate est provident rem? Quis perferendis animi modi rem assumenda fugiat atque possimus harum in quisquam.</p>
        </div>
        <div class="botao">
            <a href="">
                <i class="fa-solid fa-plus"></i>
                <h3>Informacões</h3>
            </a>
        </div>
    </div>
</main>

{% endblock %}