{% extends 'base.html' %}
 {% load static %} 

 {% block head %}
<link rel="stylesheet" href="{% static 'css/home/styles.css' %}"> 
{% endblock %}
{% block title %} Home | {{ user.username.title }}
{% endblock %}

{% block main %} 
<main>
    {% for publicacao in publicacoes %}
    <div class="conteudo">
        <h1 class="titulo-texto">{{publicacao.titulo}}</h1>
        <div class="img-texto">
            <img src="https://source.unsplash.com/800x600/?dog" alt="">
        </div>
        <div class="decricao">
            <p></p>
        </div>
        <div class="botao">
            <a href="">
                <i class="fa-solid fa-plus"></i>
                <h3>Informacões</h3>
            </a>
        </div>
    </div>
    {% endfor %}
</main>

{% endblock %}